/* Pure CSS Framework Modifier - supposedly necessary to add padding and borders directly to grid units;
I don't think I could reproduce a difference when disabling the rule last time I checked */
.pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

/* page design formatting */
/* used in every page */
body {
    background-color: #396C99;
}
.forty-em-one-column {
    max-width: 40em;
    margin: auto;
}
.main-column {
    padding: 0em 1.2em;
    text-align: justify;
    background: #83B8E9;
}
.foot-1 {
        padding: 0em 1.2em;
        background: #cfe9a9;
        /* width: 100%; */
}
.foot-2 {
    background: #ddddff;
}
h1, h2, h3, h4 {
        font-weight: normal;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
}

/* ** !!! ** */
/* collapsing menu */
/* starter code (next 7 declarations) extensively modified from https://purecss.io/layouts/tucked-menu-vertical/ 
although javascript has been rewritten from scratch to do submenus since then.
later declarations are my creation */
.nav-wrapper {
    height: 2.1em;
    overflow: hidden;
}
.transforming-wrapper {
    text-align: right;
}
.main-menu-hamburger {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.main-menu-hamburger .x-switch-animation {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 22px;
    right: 13px;
}
/* :first-child specifies not the child of elements having .x-switch-animation, but an element having .x-switch-animation itself
and only if the element having .x-switch-animation element is the first subelement (child) of an element having .main-menu-hamburger */
/* i guess this makes sense, because if .main-menu-hamburger:first-child referred to its own child,
then the pseudo-class on Element.main-menu-hamburger would refer to an element other than the one having the pseudo-class */
/* and pseudo-classes should point to their owners; there's no white space between after all */
.main-menu-hamburger .x-switch-animation:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
.main-menu-hamburger .x-switch-animation:last-child {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}
@media (max-width: 47.999em) {
    .transforming-wrapper {
        text-align: left;
    }
    .main-menu-hamburger {
        display: block;
    }
    #main-menu {
        padding-left: 0.25em;
    }
}
    /* additions to collapsingmenu */
    #main-menu {
        background: #E8F4E0;
        padding-bottom: 0.65em;
        padding-right: 0.25em;
    }
    .site-title {
        font-size: 120%;
        display: inline-block;
        font-family: 'Courier New', Courier, monospace;
    }
    .site-title:hover {
        text-decoration: solid underline #426b96;
    }
    .pure-menu-item {
        padding-top: 0.25em;
    }
    .pure-menu-link {
        white-space: normal;
        padding: 0.5em 0.4em;
        display: inline-block;
        border: solid 0.1em #E8F4E0;
    }
    .bandwidth-switch {
        background-color: #ddf;
        font-size: 80%;
    }
    /* additions when changing to menu/submenu layout */
    #submenu {
        display: none;
        margin-left: 0.6em;
    }
    .pure-menu-horizontal .pure-menu-heading,
    .pure-menu-horizontal .pure-menu-item {
        vertical-align: top;
    }
    .pure-menu-link:focus,
    .pure-menu-link:hover {
	    background-color: #fdd
    }

